@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <h1>INDEX LOGGED</h1>
    <h1>Vous êtes connectés ! Bravo ! Youpala youpi !</h1>
    <a href="Login">Retour au login</a>
}
