@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"
@model ITI.SkyLord.ViewModel.Logged.ViewArmyModel

@{
    ViewData["Title"] = "View Army";
    Layout = "_Layout";

}

<h1>Armée</h1>
@Model.Player.Name





