@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"
@model ITI.SkyLord.ViewModel.Armies.SeeArmyViewModel
@using ITI.SkyLord

@{
    ViewData["Title"] = "View Army";
    Layout = "_Layout";

}

<h1>Armée</h1>
<table>
    <tr>
        <th>Nom de l'île</th>
    </tr>
    @foreach ( Regiment r in Model.CurrentArmy.Regiments )
    {
        <tr>
            <td>@r.Name</td>
            <td>@r.Number</td>
        </tr>
    }
</table>

<a asp-action="Index" asp-controller="Logged">Retour</a>





