@import "bootstrap/bootstrap.less";

@import "SkyLordMixin.less";
@import "LayoutStyle.less";

@import "SeeMyIsland.less";
@import "Player.less";
@import "Profil.less";
@import "Army.less";
@import "Message.less";
@import "Tutorial.less";

// ICI METTRE les règles css de chaque page
.ViewContentRow {
}

.modal-header, .close {
    background-color: #5cb85c;
    color: white !important;
    text-align: center;
    font-size: 30px;

    .modal-footer {
        background-color: #f9f9f9;
    }
}

a {
    color: #825847;
}

#Mynavbar {
    li, a {
        color: #825847;
        font-weight: bold;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    li a:hover {
        color: #825847;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
}

button {
    color: whitesmoke;
    border: none;
    border-radius: 50px;
    background-color: #825847;
}

.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
}

.carousel-caption h3 {
    color: #fff !important;
}

@media (max-width: 600px) {
    .carousel-caption {
        display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
}


.container-home {
    .ImageHome();
    font-style: italic;
    color: #bdbdbd;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    /*margin-bottom:20px;*/
  
    .background-container {
        height: 100%;
        background-color: #0a0001;       
    }

    .space-btn {
        margin-top:50px;
        margin-bottom:50px;
    }
}

#footer-home {
    padding: 26px;
}
