@model ITI.SkyLord.ViewModel.Partial.BuildingPartialViewModel

<p>Je suis un barrack !!! :D</p>

<ul>
    <li>Niveau Actuel</li>
    <li>Description</li>
    <li>Bonus actuels</li>
    <li>Pouvoir LevelUp</li>
    <li>Bonus gagné au level up</li>
</ul>

