@model ITI.SkyLord.ViewModel.Partial.BuildingPartialViewModel

<div class="head">
    <h2>@BuildingManager.StaticBuildingNameToName(Model.CurrentBuilding.BuildingName)</h2>
</div>

<ul>
    <li>Niveau Actuel</li>
    <li>Description</li>
    <li>Bonus actuels</li>
    <li>Pouvoir LevelUp</li>
    <li>Bonus gagné au level up</li>
</ul>

