@model ITI.SkyLord.ViewModel.Partial.GenericFieldViewModel

<div class="buildings-build">
    <div class="buildings-build-body">

        <div class="buildings-build-head">
            Production actuelle :
        </div>


        @{
            FieldLevel fieldLevel = (FieldLevel)Model.BuildingPartial.CurrentBuilding.Level;
            int production = fieldLevel.Production;
        }

        <p>@production / heure @Model.NameOfRessource</p>

        <div class="buildings-build-head">
            Production prochain niveau :
        </div>

        @{
            int nextProduction = ((FieldLevel)Model.BuildingPartial.NextBuildingLevel).Production;
        }
        <p>@nextProduction / heure @Model.NameOfRessource</p>
    </div>
</div>