@model ITI.SkyLord.ViewModel.Partial.GenericFieldViewModel

<h2>Production actuelle :</h2>

@{ 
    FieldLevel fieldLevel = (FieldLevel)Model.BuildingPartial.CurrentBuilding.Level;
    int production = fieldLevel.Production;
}

<p>@production / heure @Model.NameOfRessource</p>

<h2>Production prochain niveau :</h2>
@{ 
    int nextProduction = ((FieldLevel)Model.BuildingPartial.NextBuildingLevel).Production;
}
<p>@nextProduction / heure @Model.NameOfRessource</p>


