@model ITI.SkyLord.ViewModel.Partial.BuildingPartialViewModel
@using ITI.SkyLord.Services

<div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="buildings-build">
            <div class="buildings-build-head">
                Niveau : @Model.CurrentBuilding.Level.Number
            </div>
            <div class="buildings-build-body">
                <div class="buildings-build-head">
                     Niveau suivant
                </div>


                @if (Model.NextBuildingLevel == null)
                {
                    <p class="col-lg-12">Level maximum atteint</p>
                }
                else
                {
                    // TODO :
                    // Ajouter le fait de dire quel bonus on gagne en plus

                    <div class="buildings-build-body-txt">
                        @{Write("Bois : " + Model.NextBuildingLevel.Cost.Wood + " " +
                     "Métal : " + Model.NextBuildingLevel.Cost.Metal + " " +
                    "Magie : " + Model.NextBuildingLevel.Cost.Magic + " " +
                      "Cristal : " + Model.NextBuildingLevel.Cost.Cristal);}
                    </div>


                    <form asp-controller="Building" asp-action="LevelUpBuilding" asp-route-buildingPosition="@Model.Position" asp-route-islandId="@Model.Layout.CurrentIsland.IslandId">
                        @if (RessourceManager.IsEnough(Model.Layout.CurrentIsland.AllRessources, Model.NextBuildingLevel.Cost))
                        {
                            <input type="submit" class="btn btn-link" value="Upgrade" />
                        }
                        else
                        {
                            <div>Vous n'avez pas assez de ressource pour passer au niveau suivant.</div>
                        }
                    </form>
                            }
            </div>
        </div>
    </div>

</div>
