@model ITI.SkyLord.ViewModel.Partial.BuildingPartialViewModel

<div class="head">
    <h2>@BuildingManager.StaticBuildingNameToName(Model.CurrentBuilding.BuildingName)</h2>

</div>
<p class="BuildingDescription">[Desription à faire]</p>


@{
    Write(Html.Partial("~/Views/Partial/LevelUpBuilding.cshtml", Model));

    ShieldLevel building = (ShieldLevel)Model.CurrentBuilding.Level;
}

<div class="buildings-build">
    <div class="buildings-build-body">
        <div class="buildings-build-head">
            <h3>Caractéristiques</h3>
        </div>
        <p>Défense : @building.Defense</p>


        <div class="buildings-build-head">
            <h3>Next Level</h3>
        </div>
        @{
            var nextLevel = (ShieldLevel)Model.NextBuildingLevel;
        }
        <p>Défense : @nextLevel.Defense</p>

    </div>
</div>