@model ITI.SkyLord.ViewModel.Partial.BuildingPartialViewModel

@using ITI.SkyLord.ViewModel.Partial;

<div class="head">
    <h2>@BuildingManager.StaticBuildingNameToName(Model.CurrentBuilding.BuildingName)</h2>
</div>

@*Choisis toujours le gif qui est équivalent à l'avatar du player*@

@{
    string gifImg = "~/images/Avatar/Gif/sorcier" + Model.Layout.CurrentIsland.IslandId % 4 + ".gif";
}

@{
    Write(Html.Partial("~/Views/Partial/DescriptionPartial.cshtml", new DescriptionPartial {
        Description = @BuildingManager.StaticBuildingNameToDescription( Model.CurrentBuilding.BuildingName ),
        FullNameOfImage = "tower.gif", NameOfGif = gifImg }));

    Write(Html.Partial("~/Views/Partial/LevelUpBuilding.cshtml", Model));
}



