@model ITI.SkyLord.ViewModel.Partial.BuildingPartialViewModel

<div class="head">
    <h2>@BuildingManager.StaticBuildingNameToName(Model.CurrentBuilding.BuildingName)</h2>
</div>

<p class="BuildingDescription">[Desription à faire]</p>

@{
    Write(Html.Partial("~/Views/Partial/LevelUpBuilding.cshtml", Model));
}

<div class="buildings-build-foot">
    <h3>Bonus actuel :</h3>
</div>



