@model ITI.SkyLord.ViewModel.Partial.BuildingPartialViewModel

@using ITI.SkyLord.ViewModel.Partial;

<div class="head">
    <h2>@BuildingManager.StaticBuildingNameToName(Model.CurrentBuilding.BuildingName)</h2>
</div>


@{
    Write(Html.Partial("~/Views/Partial/DescriptionPartial.cshtml", new DescriptionPartial { Description = "Je suis un woodField", FullNameOfImage = "tower.gif" }));

    Write(Html.Partial("~/Views/Partial/LevelUpBuilding.cshtml", Model));
}

<div class="buildings-build-foot">
    <h3>Bonus actuel :</h3>
    <p>[Non implémenté pour le moment]</p>
</div>



