  @{ 
      Layout = "";
  }

<html>

<head>

    <link rel="stylesheet" href="~/css/LayoutStyle.css" type="text/css" />
</head>
<body>

    <div class="hello" id="test">
        <p>test</p>
    </div>



</body>
</html>