@using ITI.SkyLord.ViewModels.Profil;

@model ProfilViewModel
@{
    <h1>Bienvenue sur votre profil</h1>
    <h3>@ViewData["name"]</h3>
    <p>@Model.Description</p>
    <form asp-controller="Profil" asp-action="changeDescription" asp-route-islandId = "@Model.Layout.IslandId" role="form" method="post">
        <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Description"></label>
            <textarea asp-for="Description">@Model.Description</textarea>
            <span asp-validation-for="Description"></span>
        </div>
        <button>Changer description</button>
    </form>
}
