@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"
@model BuildingViewModel

@{
    ViewData["Title"] = "View Buildings";
    Layout = "_Layout";
}

<ul>
    @foreach( var building in Model.Buildings )
    {
        <li>
            Coucou @building.Name
        </li>
    }
</ul>
<ul>
    @foreach( var building in Model.AvailableBuildings )
    {
        <li>
            @building.Name
        <form asp-route-islandId="@Model.Layout.CurrentIsland.IslandId" asp-controller="Building" asp-action="AddBuilding">
            
            <input type="number" value="2" asp-for="@Model.BuildingToBuild"/>
            <button>Construire</button>
        </form>
    </li>

    }
</ul>
