@using System.Security.Claims
@{
    ViewData["Title"] = "Skylord";
    Layout = "_Layout";
}
<p>Bienvenue sur Skylord</p>
<a asp-controller="Account" asp-action="Register">Inscription</a><br />
<a asp-controller="Account" asp-action="LogIn">Connexion</a><br />

@if( User.IsSignedIn() )
{
    <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm">

        <a asp-controller="Profil" asp-action="Index" title="Manage">@User.GetUserName()</a>

        <button type="submit" class="btn btn-link navbar-btn navbar-link">Log off</button>

    </form>
}