@*
    Cette page ne sert que pour faire des test !
*@
@{
    Layout = "";
}

<!DOCTYPE html>
<html>
<body>





    <script src="~/lib/snap.svg/snap.svg.js"></script>
    <script src="~/js/testsnap.js"></script>
   
</body>
</html>





