@*
    Cette page ne sert que pour faire des test !
*@
@{
    Layout = "";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/GridTest.css" />
</head>
<body>
    <div class="Container">

        <div class="SRow">
            <div class="SideBar">
                <p>Hello</p>

            </div>

            <div class="Content">

                <div class="MenuRow">

                    <div class="MenuElement">Hello :)</div>
                    <div class="MenuElement">Hello :)</div>
                    <div class="MenuElement">Hello :)</div>
                    <div class="MenuElement">Hello :)</div>
                    <div class="MenuElement">Hello :)</div>
                    <div class="MenuElementSearch">Search :)</div>
                    <div class="MenuElement">Hello :)</div>
                    <div class="MenuElement">Hello :)</div>


                </div>

            </div>
        </div>

    </div>




   
</body>
</html>





