@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"

@model ITI.SkyLord.ViewModel.SeePlayers.SeePlayersViewModel
@using ITI.SkyLord

@*@{
    ViewData["Title"] = "View Players";
    Layout = "_Layout";
}*@

<div class="playerContainer">
        <div class="seePlayers">

            <h1>Liste des joueurs</h1>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Joueurs</th>
                        <th>Plus d'informations</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Player p in Model.Players)
            {
                        <tr>
                            <td>@p.Name</td>
                            <td><a asp-action="ProfilOfOtherPlayer" asp-controller="Profil" asp-route-islandId="@Model.Layout.CurrentIsland.IslandId" asp-route-otherPlayerId="@p.PlayerId" >Voir plus d'info</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
