@import "bootstrap/bootstrap.less";

.test {
    border : solid black 3px;
    border-radius: 20px;
}

.Container {
    .container-fluid;
    background-color: yellow;
    .test;

    .SRow {
        .row;
        .SideBar {
            .test;
            .make-lg-column(1);
            .make-md-column(1);
            .make-sm-column(1);
            .make-xs-column(1);
            background-color:blue;
        }

        .Content {
            .test;
            .make-lg-column(11);
            .make-md-column(11);
            .make-sm-column(11);
            .make-xs-column(11);
            background-color: green;

            .MenuRow {
                .row;
                .MenuElement {
                    .test;
                    .make-lg-column(1);
                    .make-md-column(1);
                    .make-sm-column(1);
                    .make-xs-column(1);
                }
                .MenuElementSearch {
                    .make-lg-column(2);
                    .make-md-column(2);
                    .make-sm-column(2);
                    .make-xs-column(2);
                }
            }
        }

    }

    


}
           

