@import "bootstrap/bootstrap.less";
@import "SkyLordMixin.less";

html, body {
    height: 100%;
}

.navbar {
    margin-bottom: 0;
    background-image: url("../images/Site/site_haut2.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 9999;
    border: 0;
    font-size: 17px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;

    .navbar-nav li input[type=text] {
        padding: 2px 10px 2px 10px;
        line-height: 40px;
    }

    li a, li button[type=submit], .navbar-brand {
        color: #3C0732;
        padding: 15px 15px 15px 15px;
        border: none;
    }


    li a, li button[type=submit], .navbar-brand {
        color: #825847;
        padding: 15px 15px 15px 15px;
        border: none;
    }

    .btn-link {
        padding: 15px 15px 15px 15px;
        color: #825847;
        font-size: 17px;
        font-weight: bold;
        line-height: 20px;
        letter-spacing: 4px;
    }

    .btn-link:hover {
        padding: 15px 15px 15px 15px;
        background-color: whitesmoke;
        color: #825847;
        font-weight: bold;
    }

    .navbar-nav {
        li a {
            color: #825847;
            font-weight: bold;
        }

        li a:hover, li button[type=submit]:hover {
            background-color: whitesmoke;
            padding: 15px 15px 15px 15px;
            text-decoration: none !important;
            color: #825847;
            font-weight: bold;
        }
    }

    .navbar-default .navbar-toggle {
        border-color: transparent;
        color: #fff;
    }

    .img-responsive {
        height: 75px;
        position: absolute;
        top: 0px;
        left: 0px;
    }
}

.ui-autocomplete {
    background-image: url("../images/Site/site_ressource.png");
    width: 100%;
    height: 10px;
    background-repeat: no-repeat;
    background-size: contain;
    color: #825847;
    font-size: 17px;
    font-weight: bold;
}

.SkyLordContainer {
    margin-top: 49px;
    .container-fluid;
    .Section();
    height: 100%;
    .Image();

    .SkyLordMainRow {
        .row;
        height: 100% !important;

        .SkylordSideBar {
            .Col(1);
            .Section();
            line-height: 30px;
            font-size: 12px;
            height: 100%;
            width: auto;
            padding: 0;
            margin: 0;
            background-image: url("../images/Site/site_side.png");
            background-size: 100% 100%;

            a {
                display: block;
                color: #825847;
                padding: 8px 0 8px 16px;
                text-decoration: none;
                font-weight: bold;
            }

            a:hover {
                background-color: whitesmoke;
                color: #825847;
            }

            li a:hover {
                background-color: whitesmoke;
                color: #825847;
            }

            .img-responsive {
                height: 75px;
                position: absolute;
                top: 0px;
                left: 0px;
            }
        }

        .PageContent {
            .Col(11);

            .RessourceLine {
                background-image: url("../images/Site/site_ressource.png");
                background-size: 100% 100%;
                background-repeat: no-repeat;
                /*padding: 50px;*/
                margin: 5px;

                form {
                    text-align: center;
                }
            }

            .TroopMovement {
            }

            .ViewContentRow {
                .row;
            }
        }
    }

    .form-control {
        text-align: center;
        font-weight: bold;
        font-style: italic;
        color: #825847;
        background-color: whitesmoke;
    }
}

footer {
    font-size: 17px;
    margin-bottom: 1px;
    background-image: url("../images/Site/site_haut3.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;

    li, a {
        color: #825847;
        font-weight: bold;
    }

    li a:hover {
        color: #825847;
    }
}
