@import "bootstrap/bootstrap.less";
@import "SkyLordMixin.less";

html, body {
    height: 100%;   
}

.SkyLordContainer {
    .container-fluid;
    background-color: yellow;
    .test;
    height: 100%;

    .SkyLordMainRow {
        .row;
        height: 100% !important;

        .SkylordSideBar {
            .Col(1);
            .test(pink);
        }

        .PageContent {
            .Col(11);
            .test(green);

            .MenuRow {
                .row;
                .test(red);

                .PointCounter, 
                .Friends, 
                .Armies, 
                .Ranking, 
                .Forum, 
                .Logout, 
                .Players, 
                .Guild, 
                .Messages, 
                .Profile {
                    .Col(1);
                    .test(blue);
                }
                .Search {
                    .Col(2);
                }
            }

            .RessourcesRow {
                .row;
                .test(red);
                .RessourceElement {
                    .Col(3);
                }
            }

            .TroopMovementRow {
                .row;
                .test(red);
                .TroopLine {
                    .Col(12);
                }
            }

            .ViewContentRow {
                .row;
                .test(red);
            }

            .FooterRow {
                .row;
                .test(red);

                .FooterElement {
                    .Col(2);
                    .test(purple);
                }

            }
        }
    }
}