@import "bootstrap/bootstrap.less";
@import "SkyLordMixin.less";

html, body {
    height: 100%;
}

.navbar {
    margin-bottom: 0;
    background-color: rgba(255,255,255,.94);
    z-index: 9999;
    border: 0;
    font-size: 17px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    /*li a, 
    .navbar-brand
    {
        color : #fff !important;
    }*/
    .img-responsive
    {
        height:100px;
        width:30px;
        float:left;
    }
}

.navbar li a, .navbar .navbar-brand {
    color: #3C0732 !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color:#3C0732 !important;
    background-color: #fff !important;
}


.navbar-nav li a:hover, .navbar-nav li.active a {
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

#nav {
    line-height:25px;
    background-color:blue;
    height:650px;
    width:100px;
    float:left;
    padding:5px; 
}

.SkyLordContainer {
    .container-fluid;
    .Section();
    height: 100%;

    .SkyLordMainRow {
        .row;
        height: 100% !important;

        .SkylordSideBar {
            .Col(1);
            .Section(pink);
            line-height:30px;
            height:625px;
            width:600px;
            float:left;
            padding:0px;
        }

        .PageContent {
            .Col(11);
            .Section();

            .MenuRow {
                .row;
                .Section(red);

                .PointCounter,
                .Friends,
                .Armies,
                .Ranking,
                .Forum,
                .Logout,
                .Players,
                .Guild,
                .Messages,
                .Profile {
                    .Col(1);
                    .Section(blue);
                }

                .Search {
                    .Col(2);
                }
            }

            .RessourcesRow {
                .row;
                .Section(red);

                .RessourceElement {
                    .Col(3);
                }
            }

            .TroopMovementRow {
                .row;
                .Section(red);

                .TroopLine {
                    .Col(12);
                }
            }

            .ViewContentRow {
                .row;
                .Section(red);
            }

            .FooterRow {
                .row;
                .Section(red);

                .FooterElement {
                    .Col(2);
                    .Section(blue);
                }
            }
        }
    }
}

footer {
    font-size: 17px;
    margin-bottom: 1px;
    background-color: whitesmoke;

    li, a {
        color:#3C0732;
    }
}
