@import "SkyLordMixin.less";

.messageContainer {
    border: 1px solid #825847;
    border-radius: 0;
    transition: box-shadow 0.5s;
    .Image(url("../images/Site/site_ressource.png"));
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    overflow: auto;

    .readMessage {
        font-weight: bold;
        font-size: 20px;

        .table th {
            color: white;
            font-weight: bold;
            text-align:center;
        }

        .table td {
            color: #825847;
            font-weight: bold;
        }
    }
}
