@import "SkyLordMixin.less";

.island-header {
    .Col(12);
    .Image(url("../images/Site/sitecarton.png"));
    text-align: center;
    color: #825847;
}

.MainContentSeeMyIsland {
    .Col(12);
    text-align: center;
}

// Partie See My Island
#Test {
    .Col(5);
}

#SeeMyIsland {
    border: 1px solid #f4511e;
    border-radius: 0;
    transition: box-shadow 0.5s;
    width: 500px;
    height: 580px;
    background-image: url("/images/SeeMyIsland/ile.gif");
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    border: solid #825847 2px;

    #Island {
        position: relative;
        top: 0px;
        left: 0px;
        display: block;
        width: 500px;
        min-width: 500px;
        max-width: 500px;
        height: 600px;
        min-height: 600px;
        max-height: 600px;
        background-image: url("/images/SeeMyIsland/ile.png");
        background-repeat: no-repeat;
        background-position: center;
    }

    .Building {
        position: relative;
        width: 50px;
        height: 50px;

        img {
            display:block !important;
            width:100% !important;
            height: 100% !important;
            position: relative !important;
            top: 0px !important;
            left:0px !important;
        }

        &:hover {
            border: 2px rgba(64, 35, 27, 0.69) solid;
            border-radius: 15px !important;
        }
    }

    .Building img {
        width: 50px;
        height: 50px;
    }

    #place_1 {
        top: 117px;
        left: 193px;
    }

    #place_2 {
        top: 147px;
        left: 229px;
    }

    #place_3 {
        top: 76px;
        left: 140px;
    }

    #place_4 {
        top: 53px;
        left: 102px;
    }

    #place_5 {
        top: 34px;
        left: 144px;
    }

    #place_6 {
        top: -1px;
        left: 230px;
    }

    #place_7 {
        top: -69px;
        left: 314px;
    }

    #place_8 {
        top: -149px;
        left: 355px;
    }

    #place_9 {
        top: -227px;
        left: 314px;
    }

    #place_10 {
        top: -139px;
        left: 141px;
    }

    .Building[buildingname="shield"]
    {
        width: 216px !important;
        height: 91px !important;
    }
    .Building[buildingname="shield"] img
    {
        width: 216px !important;
        height: 91px !important;
    }

    .Building[buildingname="tower"] {
        
        width: 350px/3 !important;
        height: 525px/3 !important;
    }

    .Building[buildingname="tower"] img {
        width: 100% !important
        height: 100% !important;
    }
}
#degage {
    position : relative;
}

#UI {
    .Col(7);
}



.templatebuilding {
    position : absolute!important;
    top : 0px!important;

    border: 1px solid #825847;
    border-radius: 0;
    transition: box-shadow 0.5s;
    width: 100%;
    height: 580px;
    .Image(url("../images/Site/site_ressource.png"));
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    overflow: auto;

    .buildings {
        border: 1px solid white;

        .building-head {
            text-align: center;
            color: whitesmoke;
            font-weight: bold;
            font-size: 17px;
            background-image: url("../images/Site/site_haut2.png");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            padding: 5px;
            border-bottom: 1px solid transparent;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
        }

        .building-body {
            color: #825847;
            font-weight: bold;
            font-size: 13px;
            text-align: center;
        }

        .building-btn {
            text-align: center;
            .Button();
            .ButtonHover();
        }
    }

    .invocation-building {
        .text {
            color: white;
            font-weight: bold;
            font-style: italic;
        }

        .cost {
            color: #825847;
            font-weight: bold;
            font-style: italic;
        }

        .Button();
        .ButtonHover();
    }
    // For the buildings that were already created
    .head {
        text-align: center;
        color: #825847;
        font-weight: bold;
        font-size: 17px;
        background-image: url("../images/Site/site_haut2.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        padding: 5px;
        border-bottom: 1px solid transparent;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .buildings-build {
        border: 1px solid white;

        .buildings-build-head {
            text-align: center;
            color: whitesmoke;
            font-weight: bold;
            font-size: 25px;
            background-image: url("../images/Site/site_haut2.png");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            padding: 10px;
            border-bottom: 1px solid transparent;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
        }

        .buildings-build-body {
            color: #825847;
            font-weight: bold;
            font-size: 13px;
            text-align: center;


            .buildings-build-body-txt {
                padding: 20px;
            }

            .Button();
            .ButtonHover();
        }
    }

    .buildings-build-foot {
        text-align: center;
        color: whitesmoke;
        font-weight: bold;
        font-size: 17px;
        background-image: url("../images/Site/site_haut2.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        padding: 5px;
        border-bottom: 1px solid transparent;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
}
