@import "bootstrap/bootstrap.less";

@import "SkyLordMixin.less";
@import "LayoutStyle.less";

// ICI METTRE les règles css de chaque page
.ViewContentRow {



}


.SkyLordNavBar
{
    .Col(12);
    background-color:pink;
    border-bottom: solid black 2px;

    ul {
        .nav;
        .navbar;
        height: 50px;

        li {
            .navbar-btn;
            .pull-left;
            h1, a {
                margin-left: 50px;
            }
            
        }

        img {
            height: 50px;;
        }

    }
        
}

.HomeContainer {
    .row;
    margin-top: 100px;
    .Block {
        .Col(4);
        .Offset(1);
        .text-center;
    }

    .RegisterBlock {
        .Block;
        .test;
    }

    .ConnectionBlock {
        .Block;
        .test(#bada55);
    }

}