@import "bootstrap/bootstrap.less";

@import "SkyLordMixin.less";
@import "LayoutStyle.less";

// ICI METTRE les règles css de chaque page
.ViewContentRow {
}

.jumbotron {
    background-color: coral;
    color: whitesmoke;
    padding: 100px 25px;
}

.bg-grey {
    /*background-color: lightskyblue;*/
}

.container-fluid {
}

.SkyLordNavBar {
    .Col(12);
    background-color: red;
    border-bottom: solid black 2px;

    ul {
        .nav;
        .navbar;
        height: 50px;

        li {
            .navbar-btn;
            .pull-left;

            h1, a {
                margin-left: 50px;
            }
        }

        img {
            height: 50px;
        }
    }
}

.HomeContainer {
    .row;
    margin-top: 100px;

    .Block {
        .Col(4);
        .MakeOffset(1,1,1,1);
        .text-center;
    }

    .RegisterBlock {
        .Block;
        .Section(coral);
    }

    .ConnectionBlock {
        .Block;
        .Section(#bada55);
    }
}

.modal-header, .close {
    background-color: #5cb85c;
    color: white !important;
    text-align: center;
    font-size: 30px;

    .modal-footer {
        background-color: #f9f9f9;
    }
}
