@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"

@model ITI.SkyLord.ViewModel.SeeIslands.SeeIslandsViewModel
@using ITI.SkyLord

@{
    ViewData["Title"] = "View Islands";
    Layout = "_Layout";
}

@{ Island iss = Model.Island;}

<h1>Liste d'îles</h1>

<table>
    <tr>
        <th>Ile(s) :</th>
    </tr>
        <tr>
            <td>@iss.Name</td>
            <td>Ses coordonnées sont : [@iss.Coordinates.X;@iss.Coordinates.Y]</td>
            <td><a asp-controller="Ressource" asp-route-id="@iss.IslandId" asp-action="SeeRessources">Voir vos ressources</a></td>
        </tr>
</table>




