@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"

@model ITI.SkyLord.ViewModel.SeeIslands.SeeIslandViewModel
@using ITI.SkyLord

@{
    ViewData["Title"] = "View Islands";
    Layout = "_Layout";
}

<h2>@Model.CurrentIsland.Name (@Model.CurrentIsland.Coordinates.X, @Model.CurrentIsland.Coordinates.Y)</h2>
<h3>Buildings :</h3>
<ul>
    
    @foreach(var building in Model.CurrentIsland.Buildings)
    {
        <li>@building.BuildingName</li>
    }

</ul>



