
@model TutorialViewModel

<div class="tutorialContainer">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="tutorial">

                <div class="tutorial-head">
                    <h1>Tutoriel</h1>
                </div>
                <div class="tutorial-body">
                    <p>
                        Pour débuter, il vous faut bâtir les fondements de votre empire sur votre première île.
                        Pour se faire, rendez vous sur votre île grâce au menu présent sur la gauche. Cela vous affichera la vue de votre île.
                        Vous trouverez en haut de votre île la tour de mage, qui est le batiment principal présent sur toute île. Vous pouvez cliquer dessus pour voir les bonus qu'il apporte, et moyennant quelques ressources, l'améliorer.
                        De même, au centre de l'île, se trouve le portail d'invocation. En le sélectionnant, vous pourrez invoquer des unités que vous aurez au préalable débloqués.
                    </p>
                    <p>
                        Maintenant que vous êtes familiarisé avec votre nouveau territoire, vous avez surement envie de l'agrandir ! Sélectionnez un emplacement vide, et vous verrez apparaitre un menu proposant de construire des bâtiments.
                        Choisissez de construire un camp de bucherons. Vous avez entamer la construction de votre premier bâtiment, félicitations ! Vous devez maintenant patienter quelques instants pour que la construction soit effective.
                        Les bucherons vont produire du bois, qui est la ressource la plus essentielle de Skylord.
                        Nous vous proposons maintenant de réitérer l'opération avec une mine de métal. Choisissez donc un autre emplacement vide, et construisez une mine de métal. Vous êtes en possession des bâtiments de ressources principaux.
                        Notez que les bâtiments de production de ressources peuvent êtres construits en plusieurs exemplaires.

                    </p>
                    <p>
                        Vous avez presque terminé votre apprentissage jeune mage ! Je vous propose de sélectionner un troisième emplacement vide et d'y construire un baraquement. Cette bâtisse vas vous plaire, elle permet de débloquer la première unité : Le Soldat.
                        Dès que la construction est terminée, rendez-vous dans le cercle d'invocation, et commencez à développer votre armée...

                    </p>

                    Que la conquète du ciel commence !
                </div>
            </div>
        </div>
    </div>
</div>
