
@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"

@model ITI.SkyLord.ViewModel.SeeRessources.SeeRessourcesViewModel
@using ITI.SkyLord

@{
    ViewData["Title"] = "View Ressources";
    Layout = "_Layout";
}

<h1>Ressources</h1>

@{ Ressource r = Model.Ressources;}

<form asp-controller="Ressource" asp-route-name="Cristal" asp-action="AddRessources" method="post" role="form">
    <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
    <table>
        <tr>
            <td> Cristal : @r.Cristal</td>
            <td><input name="quantity" value="" /></td>
            <td><button>Ajouter</button></td>
        </tr>
    </table>
</form>
<form asp-controller="Ressource" asp-route-name="Wood" asp-action="AddRessources" method="post" role="form">
    <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
    <table>
        <tr>
            <td> Bois : @r.Wood</td>
            <td><input name="quantity" value="" /></td>
            <td><button>Ajouter</button></td>
        </tr>
    </table>
</form>
<form asp-controller="Ressource" asp-route-name="Magic" asp-action="AddRessources" method="post" role="form">
    <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
    <table>
        <tr>
            <td>Magie : @r.Magic</td>
            <td><input name="quantity" value="" /></td>
            <td><button>Ajouter</button></td>
        </tr>
    </table>
</form>
<form asp-controller="Ressource" asp-route-name="Metal" asp-action="AddRessources" method="post" role="form">
    <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
    <table>
        <tr>
            <td>Metal @r.Metal</td>
            <td><input name="quantity" value="" /></td>
            <td><button>Ajouter</button></td>
        </tr>
    </table>
</form>