.sidebar {
  background-color: #ff6a00;
}
.menu {
  background-color: #ffd800;
}
.troupe {
  background-color: #b6ff00;
}
body {
  background-color: pink;
}
.content {
  background-color: #00ff21;
}
.footer {
  background-color: #00ff90;
}
.ressource {
  background-color: #ffd800;
}
