@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"

@model ITI.SkyLord.ViewModel.MessageViewModel
@using ITI.SkyLord

@{
    ViewData["Title"] = "Message(s)";
    Layout = "_Layout";
}

<h1>Boite de réception</h1>

@foreach (Message m in Model.AllMessages)
{
    <span>Auteur: </span>
    @m.Sender.Name;
    <br />
    @m.CoreMessage;
    <hr />
}