@using ITI.SkyLord.ViewModels.Profil;

@model ProfilViewModel
@{
    <div class="profilContainer">
        <div class="container text-center">
            <div class="row">
                <div class="margin">
                    <div class="col-sm-2 col-md-2">
                        @{
                            string avatarImg = "~/images/Avatar/avatar" + Model.Layout.CurrentIsland.IslandId % 4 + ".jpg";
                        }
                        <img src=@avatarImg id="pp" class="img-rounded img-responsive" alt="Avatar">
                    </div>
                </div>

                <div class="col-sm-8 col-md-8">
                    <blockquote>
                        <cite title="Source Title">@ViewData["name"]</cite>
                    </blockquote>

                    <hr /><label for="mail"> <i class="glyphicon glyphicon-envelope"></i> @Model.Layout.CurrentPlayer.Mail</label>
                    <div class="form-group">
                        <hr /><br /><textarea class="form-control" rows="5" id="description" readonly>@Model.Description</textarea><hr />
                    </div>
                    <a asp-controller="Profil" asp-action="ChangeProfil" asp-route-islandId="@Model.Layout.IslandId">
                        <span style="font-size:2.9em;" class="glyphicon glyphicon-pencil"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
}
