@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"
@model ITI.SkyLord.ViewModel.Armies.ArmyViewModel
@using ITI.SkyLord

@{
    ViewData[ "Title" ] = "Armées";
    Layout = "_Layout";
}

<h1>Armées</h1>

@foreach ( Army a in Model.CurrentIslandArmies )
{
    <ul>
        <li> ArmyId : @a.ArmyId</li>
        @foreach ( Regiment r in a.Regiments )
        {
            <li> Unité : @r.Unit.Name  Nombre : @r.Number</li>
        }
    </ul>
}
<form asp-controller="Army" asp-action="AddUnit" method="post" role="form">
    <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
<table>
    @foreach ( Unit u in Model.AvailableUnits )
    {
        <tr>
            <td>@u.Name</td>
            <td><input asp-for="UnitsToAdd[u.UnitName.ToString()]" value="0"/></td>
        </tr>
    }

</table>
    <button>Entrainer les unités</button>
</form>
<a asp-controller="Army" asp-action="SetAttackingArmy">FIGHT !</a>

